%caption {
	font-family: "Gagalin";
	font-size: 72px;
	color: $colsec1;
}

@mixin cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin input ($min-width: 100px) {
	font-size: 16px;
	padding: 9px;
	background: #fff;
	border-radius: 5px;
	border: 0;

	// @if $width <= 100px {
	// 	text-align: center;
	// } @else {
	// 	text-align: left;
	// }
} 