.contacts {
	width: 100%;
	height: 100vh;
	min-height: 650px;
	overflow: hidden;
}

.map-image {
	background-image: url(../img/content/map.jpg);
	background-repeat: no-repeat; 
	background-position: center top;
	background-size: cover;
	position: relative;
	height: calc(100% - 58px);
}

.footer {
	background-image: url(../img/bg/bg-footer.png);
	background-position: center;
	width: 100%;
	height: 58px;
	padding-top: 7px;
	padding-bottom: 9px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
}

.footer-left {
	font-size: 14px;
}

.footer-left__adress {
	color: #fff;
	margin-bottom: 6px;
}

.footer-left__phone {
	display: inline-block;
	font-family: "Ubuntu-Bold";
	color: #e45028;
}

.footer-left__phone-icon {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 19px;
}

.footer-left__phone-text {
	display: inline-block;
	padding-left: 5px;
}


.footer-right {
	display: flex;
}

.socials {
	display: flex;
	align-items: center;
}

.socials__item {
	margin-left: 20px;
}

.socials__link {
	display: inline-block;
	max-width: 23px;
	max-height: 20px;
	opacity: .3;
	transition: .3s;
	&:hover {
		opacity: 1;
	}
}

.socials__icon {
	width: 20px;
	height: 20px;
}