.feed-page {
	width: 100%;
	height: 100vh;
	min-height: rem(650px);
	
	&__list {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

.feed-page__item {
	flex-basis: 25%;
	position: relative;
	transform: scale(1);

	&:hover .feed-page__layer {
		transition: .7s;
		transform: scale(1);
		color: rgba(255,255,255,1);
		background-color: rgba(0,0,0,.7);
	}
	&:hover .feed-page__btn {
		transition: .7s;
		background-color: rgb(47, 50, 52);
		color: #FFF;

		@include phones() {
			font-size: rem(14px);
			padding: rem(8px) rem(15px);
			border-radius: 0.4375rem;
		}
		&:hover {
			transition: .5s;
			background-color: #1f2122;
		}
	}
	@include tablets() {
		flex-basis: 50%;
	}
}

.feed-page__image {
	width: 100%;
	height: 100%;
	@include cover;
	filter: grayscale(1);

}

.feed-page__layer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	color: transparent;
	width: 100%;
	height: 100%;
	transform: scale(.7);
}

.feed-page__info {
	padding: rem(44px) rem(30px) 0 rem(20px);
	font-size: rem(14px);

	@include tablets() {
		text-align: center;
		padding: rem(33px) rem(65px) 0 rem(65px);
	}

	@include phones() {
		padding-top: rem(45px);
	}

}

.feed-page__title {
	font-family: "Gagalin";
	text-transform: uppercase;
	margin-bottom: rem(19px);

	@include tablets() {
		margin-bottom: rem(10px);
	}

	@include phones() {
		font-size: rem(26px);
		margin-bottom: rem(35px);
		line-height: rem(36px);
	}

}

.feed-page__text {
	line-height: rem(24px);
	margin-bottom: rem(12px);

	@include tablets() {
		margin-bottom: rem(25px);
		line-height: rem(26px);
	}
	@include phones() {
		display: none;
	}

}

.feed-page__btn {
	display: inline-block;
	width: rem(110px);
	height: rem(35px);
	font-family: "Ubuntu-Medium";
	font-size: rem(13px);
	text-transform: uppercase;
	color: transparent;
	padding: rem(8px) rem(15px);
	border-radius: rem(5px);
}

