.intro {
	width: 100%;
	height: 100vh;
	min-height: rem(650px);
	overflow: hidden;
	background-image: url(../img/bg/bg-intro.jpg);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: cover;
	font-family: ubuntumedium;
	position: relative;
	display: flex;
}

.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: rem(12px);
}

.header__logo {
	background: url(../img/icons/logo.svg) no-repeat;
	background-size: cover;
	width: rem(92px);
	height: rem(69px);
	margin-left: rem(-2px);
}

.nav-menu {
	display: flex;
	&__list {
		display: flex;
		align-items: center;
		margin-top: rem(-3px);
		margin-right: rem(15px);
	}
}

.nav-menu__item {
	list-style-type: disc;
	color: #FFF;
	margin-left: rem(30px);
	padding-left: rem(5px);
	transition: 0.3s;

	&:hover {
		opacity: .5;
	}
	&:first-child {
		list-style-type: none;
		margin-left: 0;
	}
}

.nav-menu__link {
	font-family: "Ubuntu-Medium";
	font-size: rem(13px);
	color: #FFF;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.nav-menu__btn {
	display: flex;
	align-items: center;
	align-self: center;
}

.order-btn {
	font-family: "Ubuntu-Medium";
	font-size: rem(13px);
	color: #FFF;
	text-transform: uppercase;
	width: rem(97px);
	height: rem(35px);
	border-radius: rem(5px);
	background-color: rgb(228, 80, 40);
	padding: rem(7px) rem(16px) rem(7px) rem(16px);
	transition: .3s;
	overflow: hidden;
	white-space: nowrap;
	&:hover {
		background-color: rgb(193, 64, 30);
	}
}

.hamburger-menu {
  display: flex;
	align-items: center;
	position: relative;
	width: 24px;
	height: 24px;
	margin-left: 30px;
  display: none;

  @include tablets() {
    display: flex;
  }
}

.hamburger-menu__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(4px);
		border-radius: rem(3px);
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}


.intro-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15%;
}

.intro-content__left {
	margin-right: rem(13px);
	margin-top: rem(-14px);
	padding-left: rem(16px);
}

.intro-content__right {
	padding-top: rem(38px);
}

.intro-content__big {
	@extend %caption;
	margin-bottom: rem(14px);
}

.intro-content__small {
	font-family: "Lifehack";
	font-size: rem(63px);
	line-height: rem(60px);
	color: #FFF;
}

.next-page__image {
	background: url(../img/icons/arrow-scroll.svg) no-repeat;
	width: rem(29px);
	height: rem(15px);
	position: absolute;
	bottom: 6%;
	left: 49%;
	transition: .5s;
	&:hover {
		display: inline-block;
		vertical-align: middle;
		transform: perspective(rem(1px)) translateZ(0);
		box-shadow: 0 0 rem(1px) transparent;
		transition-duration: 0.3s;
		transition-property: transform;
		transition-timing-function: ease-out;
		transform: translateY(rem(-8px));
		transition-duration: .5s;
	}
}
