.intro {
	width: 100%;
	height: 100vh;
	min-height: 650px;
	overflow: hidden;
	background-image: url(../img/bg/bg-intro.jpg);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: cover;
	font-family: ubuntumedium;
	position: relative;
	display: flex;
}

.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}

.header__logo {
	background: url(../img/icons/logo.svg) no-repeat;
	background-size: cover;
	width: 92px;
	height: 69px;
	margin-left: -2px;
}

.nav-menu {
	display: flex;
	&__list {
		display: flex;
		align-items: center;
		margin-top: -3px;
		margin-right: 15px;
	}
}

.nav-menu__item {
	list-style-type: disc;
	color: #FFF;
	margin-left: 30px;
	padding-left: 5px;
	transition: 0.3s;

	&:hover {
		opacity: .5;
	}
	&:first-child {
		list-style-type: none;
		margin-left: 0;
	}
}

.nav-menu__link {
	font-family: "Ubuntu-Medium";
	font-size: 13px;
	color: #FFF;
	text-transform: uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.nav-menu__btn {
	display: flex;
	align-self: center;
}

.order-btn {
	font-family: "Ubuntu-Medium";
	font-size: 13px;
	color: #FFF;
	text-transform: uppercase;
	width: 97px;
	height: 35px;
	border-radius: 5px;
	background-color: rgb(228, 80, 40);
	padding: 7px 16px 7px 16px;
	transition: .3s;
	overflow: hidden;
	white-space: nowrap;
	&:hover {
		background-color: rgb(193, 64, 30);
	}
}

.intro-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15%;
}

.intro-content__left {
	margin-right: 13px;
	margin-top: -14px;
	padding-left: 16px;
}

.intro-content__right {
	padding-top: 38px;
}

.intro-content__big {
	@extend %caption;
	margin-bottom: 14px;
}

.intro-content__small {
	font-family: "Lifehack";
	font-size: 63px;
	line-height: 60px;
	color: #FFF;
}

.next-page__image {
	background: url(../img/icons/arrow-scroll.svg) no-repeat;
	width: 29px;
	height: 15px;
	position: absolute;
	bottom: 6%;
	left: 49%;
	transition: .5s;
	&:hover {
		display: inline-block;
		vertical-align: middle;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px transparent;
		transition-duration: 0.3s;
		transition-property: transform;
		transition-timing-function: ease-out;
		transform: translateY(-8px);
		transition-duration: .5s;
	}
}
