	.team {
		width: 100%;
		height: 100vh;
		min-height: rem(650px);
		overflow: hidden;
		background-image: url(../img/bg/bg-team.jpg);
		background-repeat: no-repeat; 
		background-position: center top;
		background-size: cover;
		position: relative;
	}

	.info {
		background-color: #2f3234;
		opacity: 0.929;
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		padding: rem(59px) rem(105px) 0 rem(90px);
	}

	.info-title {
		@extend %caption;
		margin-bottom: rem(63px);
	}

	.info-list__item {
		display: block;
		margin-bottom: rem(16px);
	}

	.info-list__item.active {
		transition: .5s;
		& .info-list__link:before {
			transform: rotate(180deg);
			transition: .7s;
		}
		& .info-list__link {
			color: $colsec1;
			transition: .7s;
		}
		& .info-list__description {
			transition: 2s all;
			height: 100%;
			margin-bottom: rem(37px);
		}
	}

	.info-list__link {
		display: inline-block;
		font-family: "Gagalin";
		font-size: rem(14px);
		line-height: rem(24px);
		color: #fFF;
		text-transform: uppercase;
		margin-bottom: rem(10px);
		padding-left: rem(20px);
		position: relative;
		transition: .7s;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 40%;
			border-top: rem(6px) solid $colsec1;
			border-right: rem(5px) solid transparent;
			border-bottom: rem(0px) solid transparent;
			border-left: rem(5px) solid transparent;
			transition: .7s;
		}
	}

	.info-list__description {
		display: flex;
		height: 0;
		overflow: hidden;
		padding-left: rem(18px);
		transition: .5s;
	}

	.info-list__picture {
		width: rem(100px);
		height: rem(100px);
		margin-right: rem(21px);
	}

	.info-list__img {
		@include cover;
		width: rem(100px);
		height: rem(100px);
		max-width: 100%;
		border-radius: 50%;
	}

	.info-list__occupation {
		font-size: rem(14px);
		color: #fFF;
	}

	.info-list__title {
		font-family: "Ubuntu-Bold";
		margin-bottom: rem(11px);
	}

	.info-list__text {
		line-height: rem(24px);
	}


