.intro-content__big, .info-title, .menu-title, .order-title {
  font-family: "Gagalin";
  font-size: 72px;
  color: #f9b43b;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url(../fonts/Ubuntu-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../fonts/Ubuntu-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(../fonts/Ubuntu-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url(../fonts/Gagalin-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url(../fonts/Lifehack-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

/*BASIC STYLES*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus, *:active, *:hover {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  cursor: default;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem;
  }
}

body {
  font-size: 1rem;
  font-family: "Ubuntu-Light", Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

/*End of Basic Styles*/
.wrapper-main {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  min-height: 650px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fixed-menu {
  position: fixed;
  z-index: 10;
  right: 4.5%;
  top: 14%;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
}

.fixed-menu__link {
  margin-bottom: 5px;
}

.fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.fixed-menu__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fixed-menu__item_active .fixed-menu__link:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.fixed-menu__item:hover .fixed-menu__link:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 300;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

@media screen and (max-width: 768px) {
  .hamburger-menu.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

.hamburger-menu__logo {
  display: block;
  position: absolute;
  top: 0.9375rem;
  left: 0.9375rem;
}

.hamburger-menu__close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.9375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.hamburger-menu__close-icon {
  width: 100%;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.nav__item {
  color: #FFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__item:after {
  display: block;
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #fff;
  margin: 0.9375rem auto;
}

.nav__item:last-child:after {
  display: none;
}

.nav__link {
  font-family: "Ubuntu-Medium";
  font-size: 1.625rem;
  color: #FFF;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
}

.intro {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
  background-image: url(../img/bg/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: ubuntumedium;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.intro-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.75rem;
}

.header__logo {
  background: url(../img/icons/logo.svg) no-repeat;
  background-size: cover;
  width: 5.75rem;
  height: 4.3125rem;
  margin-left: -0.125rem;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-top: 0.3125rem;
  }
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -0.1875rem;
  margin-right: 0.9375rem;
}

.nav-menu__item {
  list-style-type: disc;
  color: #FFF;
  margin-left: 1.875rem;
  padding-left: 0.3125rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu__item:hover {
  opacity: .5;
}

.nav-menu__item:first-child {
  list-style-type: none;
  margin-left: 0;
}

.nav-menu__link {
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  color: #FFF;
  text-transform: uppercase;
}

.nav-menu__link:hover {
  text-decoration: underline;
}

.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.order-btn {
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  color: #FFF;
  text-transform: uppercase;
  width: 6.0625rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  padding: 0.4375rem 1rem 0.4375rem 1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
  white-space: nowrap;
}

.order-btn:hover {
  background-color: #c1401e;
}

.hamb-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.875rem;
  margin-right: 0.875rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .hamb-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamb-menu__bars, .hamb-menu__bars:before, .hamb-menu__bars:after {
  background: #fff;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.1875rem;
}

.hamb-menu__bars:before, .hamb-menu__bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamb-menu__bars:before {
  top: 0;
}

.hamb-menu__bars:after {
  bottom: 0;
}

.intro-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%;
}

@media screen and (max-width: 768px) {
  .intro-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 9% 18% 9%;
  }
}

@media screen and (max-width: 480px) {
  .intro-content {
    padding: 0 9% 30% 9%;
  }
}

.intro-content__left {
  margin-right: 0.8125rem;
  margin-top: -0.875rem;
  padding-left: 1rem;
}

.intro-cont__image {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .intro-cont__image {
    max-width: 20.3125rem;
    max-height: 20.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .intro-cont__image {
    max-width: 18.75rem;
    max-height: 18.75rem;
  }
}

@media screen and (max-width: 480px) {
  .intro-cont__image {
    max-width: 17.1875rem;
    max-height: 17.1875rem;
  }
}

.intro-content__right {
  padding-top: 2.375rem;
}

@media screen and (max-width: 768px) {
  .intro-content__right {
    padding-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.intro-content__big {
  margin-bottom: 0.875rem;
}

@media screen and (max-width: 768px) {
  .intro-content__big {
    font-size: 4.25rem;
    margin-bottom: 0rem;
  }
}

.intro-content__small {
  font-family: "Lifehack";
  font-size: 3.9375rem;
  line-height: 3.75rem;
  color: #FFF;
}

@media screen and (max-width: 480px) {
  .intro-content__small {
    font-size: 3.625rem;
    line-height: 3.125rem;
  }
}

.next-page__image {
  background: url(../img/icons/arrow-scroll.svg) no-repeat;
  width: 1.8125rem;
  height: 0.9375rem;
  position: absolute;
  bottom: 6%;
  left: 49%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .next-page__image {
    left: 48%;
    width: 2.5rem;
    height: 1.375rem;
  }
}

.next-page__image:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  -webkit-box-shadow: 0 0 0.0625rem transparent;
  box-shadow: 0 0 0.0625rem transparent;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

.best {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  background-image: url(../img/bg/bg-best.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.best-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3.0625rem;
}

@media screen and (max-width: 768px) {
  .best-content {
    min-height: 650px;
    padding-top: 0rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .best-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.best-content__title {
  margin-bottom: 4.25rem;
}

@media screen and (max-width: 768px) {
  .best-content__title {
    margin-bottom: 3.75rem;
  }
}

@media screen and (max-width: 480px) {
  .best-content__title {
    margin-bottom: 3.75rem;
  }
}

.best-content__text {
  font-family: "Gagalin";
  font-size: 4.5rem;
  color: #2f3234;
}

@media screen and (max-width: 480px) {
  .best-content__text {
    font-size: 3.625rem;
  }
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

@media screen and (max-width: 480px) {
  .advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-left: 0.4375rem;
  }
}

.advantages__item {
  width: 18.75rem;
  text-align: center;
  margin-left: 1.25rem;
}

.advantages__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .advantages__item {
    width: 16.875rem;
    margin-left: 0.3125rem;
  }
}

@media screen and (max-width: 480px) {
  .advantages__item {
    margin-bottom: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .advantages__item {
    margin-bottom: 1.875rem;
  }
}

.advantages__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
  .advantages__image {
    margin-right: 20px;
  }
}

.advantages__image-pic {
  width: 6.0625rem;
  height: 5.5625rem;
}

@media screen and (max-width: 480px) {
  .advantages__image-pic {
    display: block;
    width: 70px;
    height: 80px;
  }
}

.advantages__title {
  font-family: "Lifehack";
  font-size: 1.50625rem;
  line-height: 1.75687rem;
  color: #2f3234;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 480px) {
  .advantages__title {
    display: block;
  }
}

.advantages__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0rem 0.25rem;
}

@media screen and (max-width: 768px) {
  .advantages__text {
    font-size: 0.9375rem;
  }
}

.burger {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
  background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.burger-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.burger-content__prev, .burger-content__next {
  width: 4.375rem;
  height: 1.875rem;
  display: block;
}

.burger-content__prev-icon, .burger-content__next-icon {
  width: 100%;
  height: 100%;
  fill: #fff;
  cursor: pointer;
  opacity: 0.7;
}

.burger-content__prev-icon:hover, .burger-content__next-icon:hover {
  opacity: 1;
}

.burger-content__prev-icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.burger-content__prev-icon:hover {
  -webkit-transform: scale(1.2) rotate(90deg);
  -ms-transform: scale(1.2) rotate(90deg);
  transform: scale(1.2) rotate(90deg);
}

.burger-content__next-icon {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.burger-content__next-icon:hover {
  -webkit-transform: scale(1.2) rotate(270deg);
  -ms-transform: scale(1.2) rotate(270deg);
  transform: scale(1.2) rotate(270deg);
}

.burger-content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 5.5rem;
}

@media screen and (max-width: 768px) {
  .burger-content__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 1.875rem;
  }
}

.burger-content__left, .burger-content__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .burger-content__left, .burger-content__right {
    width: 85%;
    text-align: center;
  }
}

.burger-content__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .burger-content__left {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .burger-content__left {
    margin-bottom: 0.3125rem;
  }
}

.burger-content__img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .burger-content__img {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .burger-content__img {
    width: 90%;
  }
}

.burger-content__title {
  font-family: "Gagalin";
  font-size: 72px;
  color: #fff;
  line-height: 4.0625rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .burger-content__title {
    font-size: 62px;
    line-height: 3.75rem;
    padding: 0 7%;
    margin-bottom: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .burger-content__title {
    font-size: 3.125rem;
    margin-bottom: 0.625rem;
    line-height: 1;
  }
}

.burger-content__text {
  color: #fff;
  font-size: 14px;
  margin-bottom: 1.25rem;
  line-height: 1.5rem;
  padding-right: 0.625rem;
}

@media screen and (max-width: 768px) {
  .burger-content__text {
    margin-bottom: 0.625rem;
  }
}

.burger-content__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .burger-content__order {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.order-info {
  line-height: 1;
  margin-right: 1.875rem;
}

.order-info__amount {
  display: inline-block;
  font-family: "Gagalin";
  font-size: 4.5rem;
  color: #e35028;
}

@media screen and (max-width: 480px) {
  .order-info__amount {
    font-size: 3.125rem;
  }
}

.order-info__currency {
  display: inline-block;
  font-family: "Gagalin";
  font-size: 1.875rem;
  color: #e35028;
}

@media screen and (max-width: 480px) {
  .order-info__currency {
    font-size: 1.5rem;
  }
}

.burger-ingreds {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  background-color: rgba(230, 75, 45, 0.4);
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .burger-ingreds {
    top: 1.875rem;
  }
}

@media screen and (max-width: 480px) {
  .burger-ingreds {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.burger-ingreds:hover {
  background-color: rgba(227, 80, 40, 0.7);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger-ingreds:hover .burger-ingreds__dropout {
  width: 16.875rem;
  height: 20.625rem;
  padding: 1.5625rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .burger-ingreds:hover .burger-ingreds__dropout {
    padding: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .burger-ingreds:hover .burger-ingreds__dropout {
    width: 14.375rem;
    height: 20.625rem;
  }
}

.burger-ingreds:hover .burger-ingreds__table {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.burger-ingreds__img {
  width: 100%;
  height: 50%;
  fill: #fff;
}

.burger-ingreds__text {
  font-family: "Gagalin";
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
}

.burger-ingreds__dropout {
  position: absolute;
  top: 0;
  left: 5.625rem;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 0.3125rem;
  opacity: .92;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .burger-ingreds__dropout {
    left: 3.75rem;
  }
}

.burger-ingreds__table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-family: "Ubuntu-Medium";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.burger-ingreds__table-cell:last-child {
  text-align: right;
}

.burger-kcal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.0625rem;
  height: 5.625rem;
  opacity: 0.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Gagalin;
}

@media screen and (max-width: 768px) {
  .burger-kcal {
    top: 1.875rem;
    right: 0;
    left: auto;
  }
}

@media screen and (max-width: 480px) {
  .burger-kcal {
    width: 3.4375rem;
    height: 4.6875rem;
  }
}

.burger-kcal__img {
  position: relative;
  width: 100%;
  height: 80%;
  fill: #fff;
}

.burger-kcal__amount {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
  line-height: 1rem;
  color: #fff;
  margin-left: -25%;
  margin-top: -15%;
}

@media screen and (max-width: 480px) {
  .burger-kcal__amount {
    margin-left: -29%;
  }
}

.burger-kcal__text {
  font-size: 1.25rem;
  line-height: 1rem;
  color: #fff;
  text-align: center;
}

.team {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
  background-image: url(../img/bg/bg-team.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.info {
  background-color: #2f3234;
  opacity: 0.929;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 6.1875rem 6.5625rem 0 5.625rem;
}

@media screen and (max-width: 768px) {
  .info {
    width: 100%;
    padding: 6.1875rem 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.info-title {
  margin-bottom: 3.9375rem;
}

@media screen and (max-width: 768px) {
  .info-title {
    margin-bottom: 3.125rem;
  }
}

@media screen and (max-width: 768px) {
  .info-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

.info-list__item {
  display: block;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .info-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.info-list__item.active {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.info-list__item.active .info-list__link:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.info-list__item.active .info-list__link {
  color: #f9b43b;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.info-list__link {
  display: inline-block;
  font-family: "Gagalin";
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fFF;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  padding-left: 1.25rem;
  position: relative;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.info-list__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40%;
  border-top: 0.375rem solid #f9b43b;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0rem solid transparent;
  border-left: 0.3125rem solid transparent;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

@media screen and (max-width: 768px) {
  .info-list__link {
    font-size: 1.125rem;
    margin: 0 0 0.3125rem 8rem;
  }
}

.info-list__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  padding-left: 1.125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .info-list__description {
    width: 25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.3125rem;
    text-align: center;
  }
}

.info-list__picture {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 1.3125rem;
}

@media screen and (max-width: 768px) {
  .info-list__picture {
    margin: 0 0 1.3125rem 0;
  }
}

.info-list__img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 6.25rem;
  height: 6.25rem;
  max-width: 100%;
  border-radius: 50%;
}

.info-list__occupation {
  font-size: 0.875rem;
  color: #fFF;
}

.info-list__title {
  font-family: "Ubuntu-Bold";
  margin-bottom: 0.6875rem;
}

.info-list__text {
  line-height: 1.5rem;
}

.menu {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
  background-image: url(../img/bg/bg-menu.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .menu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.menu-title {
  color: #FFF;
  padding-top: 5.125rem;
  padding-left: 5.9375rem;
}

@media screen and (max-width: 768px) {
  .menu-title {
    padding-top: 3.125rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .menu-title {
    font-size: 5rem;
    padding-top: 3.125rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .menu-title {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 0;
  }
}

.menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-list__link {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 5rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu-list__link:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.6);
}

@media screen and (max-width: 768px) {
  .menu-list__link {
    width: 3.875rem;
    height: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  .menu-list__link {
    width: 2.625rem;
  }
}

.menu-list__item.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.menu-list__item.active .menu-list__description {
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu-list__item.active .menu-list__text {
  opacity: 1;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.menu-list__title {
  font-family: "Gagalin";
  font-size: 2.5rem;
  color: #fff;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media screen and (max-width: 480px) {
  .menu-list__title {
    font-size: 3rem;
  }
}

.menu-list__description {
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.929);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 480px) {
  .menu-list__description {
    z-index: 100;
  }
}

.menu-list__text {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  padding: 3.75rem 2.25rem 3.75rem 2.0625rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .menu-list__text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .menu-list__text {
    padding: 3.75rem 0.9375rem 3.75rem 0.9375rem;
    z-index: 100;
  }
}

.feed-page {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
}

.feed-page__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feed-page__item {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.feed-page__item:hover .feed-page__layer {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.feed-page__item:hover .feed-page__btn {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  background-color: #2f3234;
  color: #FFF;
}

@media screen and (max-width: 480px) {
  .feed-page__item:hover .feed-page__btn {
    font-size: 0.875rem;
    padding: 0.5rem 0.9375rem;
    border-radius: 0.4375rem;
  }
}

.feed-page__item:hover .feed-page__btn:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: #1f2122;
}

@media screen and (max-width: 768px) {
  .feed-page__item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.feed-page__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@media screen and (max-width: 768px) {
  .feed-page__image {
    background-position: 50% 30%;
  }
}

.feed-page__layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.feed-page__info {
  padding: 2.75rem 1.875rem 0 1.25rem;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .feed-page__info {
    text-align: center;
    padding: 0.8125rem 0.9375rem 0.625rem 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  .feed-page__info {
    padding-top: 2.8125rem;
  }
}

.feed-page__title {
  font-family: "Gagalin";
  text-transform: uppercase;
  margin-bottom: 1.1875rem;
}

@media screen and (max-width: 768px) {
  .feed-page__title {
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  .feed-page__title {
    font-size: 1.625rem;
    margin-bottom: 2.1875rem;
    line-height: 2.25rem;
  }
}

.feed-page__text {
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 768px) {
  .feed-page__text {
    margin-bottom: 0.625rem;
    line-height: 1.625rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .feed-page__text {
    display: none;
  }
}

.feed-page__btn {
  display: inline-block;
  width: 6.875rem;
  height: 2.1875rem;
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: transparent;
  padding: 0.5rem 0.9375rem;
  border-radius: 0.3125rem;
}

.order {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
  background-image: url(../img/bg/bg-delivery.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .order {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.order-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3.8125rem;
}

@media screen and (max-width: 768px) {
  .order-content {
    text-align: center;
    padding-top: 0.625rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .order-content {
    padding-top: 0rem;
  }
}

.order-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4.0625rem;
}

@media screen and (max-width: 768px) {
  .order-title {
    margin-bottom: 2.1875rem;
  }
}

@media screen and (max-width: 480px) {
  .order-title {
    text-align: center;
    padding: 10px 30px 0 30px;
    font-size: 3.75rem;
    line-height: 4.875rem;
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 480px) {
  .order-title {
    font-size: 3.125rem;
    line-height: 3.625rem;
  }
}

.order-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .order-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 28.4375rem;
  }
}

@media screen and (max-width: 480px) {
  .order-form {
    padding: 0;
  }
}

.order-form__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem;
}

.order-form__column:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .order-form__column {
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 1.0625rem;
  }
}

.order-form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.0625rem;
}

.order-form__row:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .order-form__row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.order-form__cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem;
  cursor: pointer;
}

.order-form__cell:first-child {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .order-form__cell {
    width: 100%;
  }
}

.order-form__field-title {
  display: block;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.1875rem;
}

@media screen and (max-width: 768px) {
  .order-form__field-title {
    margin-bottom: 0.5625rem;
  }
}

.order-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5625rem;
  background: #fff;
  border-radius: 0.3125rem;
  border: 0;
}

.order-form__row-textarea {
  margin-bottom: 0.8125rem;
}

@media screen and (max-width: 768px) {
  .order-form__row-textarea {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .order-form__row-textarea {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .order-form__row-textarea {
    margin-bottom: 1.875rem;
  }
}

.order-form__feed-area {
  width: 100%;
  height: 6.875rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.4375rem;
  padding: 0.5rem 0.625rem;
  resize: none;
}

.order-form__row_margin {
  margin-bottom: 1.4375rem;
}

.order-form__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.9375rem;
  cursor: pointer;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.order-form__radio:first-child {
  margin-left: 0;
}

.order-form__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.order-form__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.order-form__radio-fake:after {
  content: "";
  display: block;
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background-color: #e45028;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .1s, height .1s;
  -o-transition: width .1s, height .1s;
  transition: width .1s, height .1s;
}

.order-form__radio-elem:checked + .order-form__radio-fake:after {
  width: 0.375rem;
  height: 0.375rem;
}

.order-form__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem;
}

.order-form__radio-checkbox .order-form__radio-fake {
  border-radius: 0rem;
}

.order-form__radio-checkbox .order-form__radio-elem + .order-form__radio-fake:after {
  background: transparent;
}

.order-form__radio-checkbox .order-form__radio-elem:checked + .order-form__radio-fake:after {
  background: url("../img/icons/checked.png") 50% no-repeat transparent;
  width: 0.6875rem;
  height: 0.625rem;
}

.order-form__button {
  border: 0;
  border-radius: 0.3125rem;
  background: #e45028;
  color: #fff;
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 0.625rem 0.9375rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.order-form__button:hover {
  background: #c1401e;
}

.order-form__button-reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  margin-right: 0;
  padding: 0.625rem 0.9375rem;
  background: transparent;
}

.order-form__button-reset:hover {
  background: #fff;
  color: black;
  padding: 0.625rem 0.9375rem;
}

.contacts {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
}

.map-image {
  background-image: url(../img/content/map.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  height: calc(100% - 58px);
}

@media screen and (max-width: 480px) {
  .map-image {
    height: calc(100% - 14.5%);
  }
}

.footer {
  background-image: url(../img/bg/bg-footer.png);
  background-position: center;
  width: 100%;
  height: 14.5%;
  padding-top: 0.4375rem;
  padding-bottom: 0.5625rem;
}

@media screen and (max-width: 480px) {
  .footer {
    padding-top: 1.4375rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding-top: 0.625rem;
  }
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
  }
}

.footer-left {
  font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
  .footer-left {
    text-align: center;
    margin-bottom: 0.625rem;
  }
}

.footer-left__adress {
  color: #fff;
  margin-bottom: 0.375rem;
}

.footer-left__phone {
  display: inline-block;
  font-family: "Ubuntu-Bold";
  color: #e45028;
}

.footer-left__phone-icon {
  fill: #e45028;
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 1.1875rem;
}

.footer-left__phone-text {
  display: inline-block;
  padding-left: 0.3125rem;
}

.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__item {
  margin-left: 1.25rem;
}

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.socials__link:hover {
  opacity: 1;
}

.socials__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
}

@media screen and (max-width: 480px) {
  .socials__icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}

/*# sourceMappingURL=main.css.map */